*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.button
{ 
    margin: 10px;
    /* position: absolute; */
     width: 120px;
      height: 50px; 
      /*left: 1143px; top: 871px; */
      background: #55538A;
       border-radius: 29px; 
       font-family: 'Lato';
        font-style: normal; 
        font-weight: 300; 
        font-size: 25px;
         line-height: 30px;
          display: flex; 
          justify-content: center;
           align-items: center; 
           text-align: center;
            color: #FFFFFF;
             -webkit-border-radius: 29px; -moz-border-radius: 29px; -ms-border-radius: 29px; -o-border-radius: 29px;
}
/* English Test */
.En{
  padding-top: 25px;
/* position: absolute;
width: 473px;
height: 67px;
left: 100px;
top: 103px; */
display: flex;
gap: 2px;
flex-direction: column;
font-family: 'Viga';
font-style: normal;
font-weight: 400;
font-size: 34px;
line-height: 86px;

color: #55538A;

}
#time{
margin-top: 70px;
}

body {
    font-family: 'Just Another Hand', cursive;
    /* background-color: #242E6B;
    width: 100%;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover; */
    }
    
    /* TODO: Styling by html element: add styling for h1 and h2 */
    h1, h2 {
      font-weight: 200;
      font-size: 120px;
    }
    p{
      margin-left: 100px;
        font-weight: 100;
      font-size: 50px;
    }
    
    /* TODO: Styling by id: add styling for #title */
    #title {
      color: #FC8C93;
      line-height: 50px;
    }
    
    #question {
      
      display: inline;
      color: #b91b1e;
    }
    .main_cont{
      display: flex;
      justify-content: space-around;
    }
    /* TODO: Styling by id: add styling for canvas */
    #my-canvas {
      vertical-align: top;
      display: inline;
      border: 5px solid #FFFFFF;
      border-radius: 5%;
      margin-left: 25px;
      cursor: crosshair;
    }
    #pq{
      width: 650px;
      height: 200px;
      padding: 25px;
      background-image: url('../ques.svg');
    }
    .container {
      text-align: center;
      margin: 50px auto;
     
    }
    #coi{
      margin: auto 350px;
      display: flex;
      gap:135px;
    }
    #qyue{
      display: flex;
      flex-direction: column;
      gap:35px;
      justify-content: center;
    }
    .imo{
      margin-left: 36px;
    }
    .btn {
        margin: 10px;
        margin-left: 240px;
        background-color:#242E6B;
        border-radius:20px;
        border-width: 0;
        cursor:pointer;
        color:#FFFFFF;
        line-height: 70px;
        font-family:'Just Another Hand', cursive;
        font-size:70px;
        letter-spacing: 3px;
        padding:13px 32px 0 32px;
        text-align: center;
        text-decoration:none;
        -webkit-border-radius:20px;
        -moz-border-radius:20px;
        -ms-border-radius:20px;
        -o-border-radius:20px;
}
    
    /* TODO: Styling by class: add Styling for button on hover */
    .btn:hover {
      background-color: #242E6B; 
      color: white;
    }
   .ques{
    margin-left: 50px;
    font-size: 30px;
    }